.sidebar {
    width: 240px;
    margin-top: 26px; /* Adjust the margin as needed */
  }
  
  .listItem {
    background-color: #f5f5f5; /* Light gray background for non-selected items */
    color: #6e6e6e; /* Gray color for text */
    margin-bottom: 4px; /* Space between items */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s;
  }
  
  .listItem:hover {
    background-color: #dbeac4; /* Slightly darker on hover */
  }
  
  .listItem.selected {
    background-color: #c3d87c; /* Green background for selected item */
    color: #000; /* Black color for text */
    font-weight: bold; /* Bold text for selected item */
  }
  
  .icon {
    color: inherit; /* Inherit color from the listItem */
  }
  