.sidebar {
    width: 240px;
    margin-top: 74px; /* Adjust the margin as needed */
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .listItem {
    background-color: #f5f5f5; /* Light gray background for non-selected items */
    color: #6e6e6e; /* Gray color for text */
    margin-bottom: 4px; /* Space between items */;
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.1s;
  }
  
  .listItem:hover {
    background-color: #dbeac4; /* Slightly darker on hover */
  }
  
  .listItem.selected {
    background-color: #c3d87c; /* Green background for selected item */
    color: #000; /* Black color for text */
    font-weight: bold; /* Bold text for selected item */
  }
  
  .icon {
    color: inherit; /* Inherit color from the listItem */
  }
  